.Game {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

.Board {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 70;
}

.game-leaderboard {
    flex: 30;
    overflow-y: auto;
    max-height: 90vh;
    padding: 1em;
}