@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --red: #ef4444;
  --yellow: #eab308;
  --green: #22c55e;
  --blue: #3b82f6;
  --black: #0c0c0c;
  --white: #e3e7ec;

  color: var(--white);
}


body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

*,
*::before,
*::after {
  transition-duration: 0.4s !important;
}